@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    color: #FFFFFF;
}

.container {
  margin: 0 auto;
  padding: 5% 5%;
  max-width:1100px;
}

.text-input {
    height:25px;
    width:250px;
    padding: 6px;
    border-radius: 5px;
    border:none;
    border:solid 1px #B8B8B8;
}

.dropdown {
    padding: 6px;
    height:40px;
    border-radius: 5px;
    border:none;
    border:solid 1px #B8B8B8;
}

.book-table {
    width: 100%;
    margin: 40px 0 0 0;
    text-align: left;
    border-collapse: collapse;
}

tr, td {
  padding: 12px 12px 12px 0;
}

tr {
  border-bottom:solid 1px;
}

i:hover {
    cursor: pointer;
}

i:active {
    transform: scale(0.75);
    transition-duration: 125ms;
}

.button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  letter-spacing: 2px;
    text-transform: uppercase;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

  .close-button {
    position: absolute;
    right: 9px;
    top:7px;
}

.close-button:hover {
  transform:scale(1.5);
  transition: 300ms;
}

.submit-button {
  display: block;
  margin: 20px auto 0;
}

  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0 ,0 , 0.5);
    justify-content: center;
    align-items: center;
    display: none;
    z-index:1;
  }

  .modal-content {
    position:relative;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.85);
    min-width:384px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.85) 1px;
    padding: 50px 10px;
  }

  .modal-heading {
    margin: 0 0 30px 0;
  }

  .text-input {
    display: block;
    margin: 0 0 10px 0;
  }

  .checkbox {
    float: right;
  }

  .statistics-container {
    background-color: white;
    color:black;
    font-weight:600;
    transform: skewX(-20deg);
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 30px;
    height: fit-content;
  }

  .statistics-container p {
    transform: skewX(20deg);
    margin:0 10px;
  }

  .heading-container {
    display: flex;
    margin: 0 0 20px 0;
  }

  .heading {
    margin: 0 0 15px 0;
  }