@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin:0;
    padding:75px 500px;
    font-family: 'Poppins', sans-serif;
}

.text-input {
    height:25px;
    width:250px;
    padding: 6px;
    border-radius: 5px;
    border:none;
    border:solid 1px #B8B8B8;
}

.dropdown {
    padding: 6px;
    height:40px;
    border-radius: 5px;
    border:none;
    border:solid 1px #B8B8B8;
}

.submit-button{
    font-family: 'Poppins', sans-serif;
    height:40px;
    width:79px;
    padding:6px;
}

table {
    width:100%;
    margin-top:60px;
    text-align:left;
}

i:hover {
    cursor: pointer;
}

i:active {
    transform: scale(0.75);
    transition-duration: 125ms;
}

.button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  letter-spacing: 2px;
    text-transform: uppercase;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
