@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0 0 0 0;
    padding: 0;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #EDC7B7;
    color: #123C69;
}

/***** Heading Styles *****/
.container {
  margin: 0 auto;
  padding: 5% 5%;
  max-width:1100px;
}

.statistics-container {
  background-color: #EDC7B7;
  color: #AC3B61; 
  font-weight:600;
  border: 2px solid #123C69;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 30px;
  height: fit-content;
}

.statistics-container p {
  margin:0 10px;
}

.heading-container {
  display: flex;
  margin: 0 0 20px 0;
  color: #AC3B61;
}

.heading {
  margin: 0 0 15px 0;
}

/***** Table Styles *****/
.book-table {
  width: 100%;
  margin: 40px 0 0 0;
  text-align: left;
  border-collapse: collapse;
}

tr, td {
  padding: 12px 12px 12px 0;
}

tr {
  border-bottom:solid 1px;
}


/***** Button Styles *****/
.button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #AC3B61; 
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 120px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.close-button {
  position: absolute;
  right: 9px;
  top:7px;
}

.close-button:hover {
  transform:scale(1.5);
  transition: 300ms;
  cursor: pointer;
}

.submit-button {
  display: block;
  margin: 20px auto 0;
  background-color: #AC3B61;
  color: #FFFFFF;
}

.new-book-button {
  background-color: #AC3B61;
  color: #FFFFFF;
}

.filter-button {
  width: auto;
}

.modal-button {
  display: none !important;
}

.modal-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 300ms;
}

.modal-button:active {
  transform: scale(0.75);
  transition-duration: 125ms;
}

.active {
  background-color: #AC3B61;
  color: #FFFFFF;
}


/***** Modal Styles *****/
  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0 ,0 , 0.5);
    justify-content: center;
    align-items: center;
    display: none;
    z-index:1;
  }

  .modal-content {
    position:relative;
    background-color: #123C69;
    color: #FFFFFF; 
    min-width:384px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: solid #EDC7B7 1.5px;
    padding: 50px 10px;
    font-weight: bold;
    text-align: left;
  }

  .modal-heading {
    margin: 0 0 30px 0;
  }

  .text-input {
    height:25px;
    width:250px;
    padding: 6px;
    border-radius: 5px;
    border:none;
    border:solid 1px #B8B8B8;
    display: block;
    margin: 0 0 10px 0;
}

  .checkbox {
    float: right;
  }


  /***** Responsive Styles *****/
  @media (max-width:768px) {
    body {
      text-align: center;
    }

    .heading-container {
      flex-direction: column;
    }

    .statistics-container {
      margin: 0;
    }

    .heading {
      font-size: 50px;
    }

    .filter-button {
      margin: 0 5px;
      width: 120px;
    }

    .new-book-button {
      display:none;
    }

    .modal-button {
      display: block !important;
      position:fixed;
      bottom:0;
      right:0;
      margin: 0px 5px 3px 0;
    }
  }

  @media (max-width:450px) {
    .filter-button {
      width: 80px;
      font-size: 12px;
    }

    .modal-content {
      min-width:330px;
    }
  }